<div class="col-sm-3 col-md-3">
    <div class="right-title">
        <h3>文章排行</h3>
        <span>TOP ARTICLES</span>
    </div>
    <div class="right-content">
        <ul>
            <volist name="result['rankNews']" id="vo" key="k">
            <li class="num{$k} curr">
                <a target="_blank" href="/index.php?c=cat&id={$vo.news_id}">{$vo.small_title}</a>
                <if condition="$k eq 1">
                <div class="intro">
                    {$vo.description}
                </div>
                </if>
            </li>
            <!--<li class="num2"><a href="">普京回应俄战机被击落</a></li>-->
            </volist>
        </ul>
    </div>
    <volist name="result['advNews']" id="vo">
    <div class="right-hot">
        <a target="_blank" href="{$vo.url}"><img src="{$vo.thumb}" alt="{$vo.name}"></a>
    </div>
    </volist>
    <!--<div class="right-hot">-->
        <!--<img src="Public/images/img6.jpg" alt="">-->
    <!--</div>-->
</div>